@model IEnumerable<PhoneChalin.Models.Smartphone>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Data Smartphone";
    Layout = "_LayoutAdmin";
}

<h1 class="h3 mb-4 text-gray-800">DATA SMARTPHONE</h1>

<div class="row">
    <div class="col">

        <button class="btn btn-primary mb-4" data-toggle="modal" data-target="#addSmartphone"><i class="fas fa-plus-circle"></i> Data Smartphone</button>

        <div class="text-center">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        
        <a class="btn btn-primary" style="float:left;margin-right:5px;" href="#" target="_blank">Export : </a>
        <table class="table table-striped table-bordered dataTable" style="width: 100%;" id="smartphone">
            <thead class="theadColor">
                <tr>
                    <th>
                        No
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NameSmartphone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.supplierModel.NameSupplier)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PriceSmartphone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StockSmartphoen)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<!-- Modal Submit-->
<div class="modal fade" id="addSmartphone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Data Smartphone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form class="needs-validation" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col mb-3">
                            <label for="idSupplier">Select Supplier</label>
                            <select class="form-control" id="idSupplier" required>
                                <option>Pilih Supplier</option>
                            </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col mb-3">
                            <label for="nameSmartphone">Name Smartphone</label>
                            <input type="text" class="form-control" id="nameSmartphone" name="nameSmartphone" placeholder="Name Smartphone" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row p-2">
                        <div class="col-6 mb-3">
                            <label for="priceSmartphone">Price Smartphone</label>
                            <input type="text" class="form-control" id="priceSmartphone" name="priceSmartphone" placeholder="Price Smartphone" required>
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                            <div class="col-6 mb-3">
                                <label for="stockSmartphoen">Stock Smartphone</label>
                                <input type="text" class="form-control" id="stockSmartphoen" name="stockSmartphoen" placeholder="Stock Smartphone" required>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="submitSmartphone" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
  </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="editSmartphone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Data Smartphone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form class="needs-validation-edit" novalidate>
            <div class="modal-body" id="textEdit">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="editSmartphone" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
  </div>
</div>

<!-- Modal Submit-->
<div class="modal fade" id="deleteSmartphone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Data Smartphone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <div class="form-group text-center" id="textDelete">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="deleteSmartphone">Delete</button>
        </div>
    </div>
  </div>
</div>

@section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script>
}