@model PhoneChalin.ViewModels.Login
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Smartphone Chalin</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            font-family: 'Quicksand', sans-serif;
            background-color: #224abe !important;
        }

        .container {
            width: 1000px !important;
        }

        .register {
            padding: 10px 0px 10px 0px;
            border-bottom: 1px solid #dee2e6;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>@Context.Session.GetString("Id")</p>
        <p>@Context.Session.GetString("Username")</p>
        <p>@Context.Session.GetString("Email")</p>
        <p>@Context.Session.GetString("Token")</p>
        <p>@Context.Session.GetString("Role")</p>
        <main role="main" class="pb-3">
            <div class="row shadow p-3 mb-3 bg-white rounded mt-3">
                <div class="col text-center">
                    <img src="~/img/hp.png" alt="Smartphone" class="img-login">
                </div>
                <div class="col">
                    <div class="text-center mt-5">
                        <img style="width:35% !important;" src="~/img/logo.png" class="img-fluid img-logo-login" />
                    </div>
                    <div class="text-center">
                        <span class="text-danger" id="messageError"></span>
                    </div>
                    <form action="/Account/Auth" method="post" class="needs-validation" novalidate>
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username" minlength="5" required>
                                <div class="invalid-feedback" id="errorUsername">
                                    Usernamer cannot be less than 5 characters
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </div>
                                </div>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" minlength="8" required>
                                <div class="invalid-feedback" id="errorPassword">
                                    Password cannot be less than 8 characters
                                </div>
                            </div>

                        </div>
                        <div class="text-center">
                            <button type="submit" id="submit" class="btn btn-info btn-lg btn-block">Login</button>
                        </div>
                    </form>
                    <p class="text-right mt-2">Forget <a href="#">Password ?</a></p>
                    <p class="text-center mt-3">Don't have an account ? <a href="#" data-toggle="modal" data-target="#register">Register</a></p>
                    <p class="text-center mt-3">Back to main <a asp-controller="Smartphone" asp-action="Index">Menu</a></p>
                </div>
            </div>

            <!-- Modal Submit -->
            <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="addSupplierLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="text-center register">
                            <h5 class="modal-title" id="addSupplierLabel">Resister Account</h5>
                        </div>
                        <form class="needs-validation-add" novalidate>
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="col mb-3">
                                        <label for="nameEmployee">Name Employee</label>
                                        <input type="text" class="form-control" name="nameEmployee" id="nameEmployee" placeholder="Name Employee" required>
                                        <div class="invalid-feedback">
                                            Name buyer is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col mb-3">
                                        <label for="nipEmployee">NIP Employee</label>
                                        <input type="text" class="form-control" name="nipEmployee" id="nipEmployee" placeholder="Nip Employee" required>
                                        <div class="invalid-feedback">
                                            Name buyer is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col mb-3">
                                        <label for="ageEmployee">AGE Employee</label>
                                        <input type="text" class="form-control" name="ageEmployee" id="ageEmployee" placeholder="Age Employee" required>
                                        <div class="invalid-feedback">
                                            Name employee is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col mb-3">
                                        <label for="genderEmployee">Gender Employee</label>
                                        <select class="form-control" name="genderEmployee" id="genderEmployee" required>
                                            <option value="">Pilih Gender</option>
                                            <option value="L">Laki - Laki</option>
                                            <option value="P">Perempuan</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Gender employee is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitBuyer">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/account.js" asp-append-version="true"></script>
</body>
</html>
